#topbar
body
{
background-color:white
} 
#container
{ 
background-color:white;
height:50px;
width:70%;
margin:70px auto;
font-size:0.7em;
}
#header container h1
{
font-size:1em;
}
#banner img
{
width:60%;
}
#details intput type
{
margin:0;
padding:0;
top:50%;
right:70%

}



